body {
  background: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  a {
    color: var(--md-sys-color-primary);
  }
}

.surface {
  position: relative;
  border-radius: 16px;
  height: 64px;
  width: 64px;

  --md-elevation-level: 3;
}

main {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

.contents {
  max-width: 1000px;
  min-width: 1000px;
  display: inline-block;

  @media (width < 1000px) {
    width: 100%;
    max-width: inherit;
    min-width: inherit;
  }
}

.cards {
  display: flex;
  width: 100%;
  gap: 10px;

  @media (width < 800px) {
    flex-direction: column;
  }

  .card {
    width: 500px;
    margin: 10px 0;
    padding: 30px;

    @media (width < 800px) {
      width: 100%;
    }

    .section-in-card {
      padding: 20px 0;
    }
  }

  .buttons-in-card {
    display: flex;
    justify-content: flex-end;
  }
}

.code-block {
  padding: 0 10px;
}

.fab {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
